#nagbar_container{
  background-color: #FF8C00;
  border-bottom: 2px solid #ba6300;
  width: 100% height:.8em;
  position: absolute;
  top: 30px;
  width: 100%;
  min-height: 1em;
  padding:.1em;
  text-align:center;
}
